* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Home Page */
.map {
    background-image: url('./imgs/map-placeholder.png');
    background-size: cover;
}

nav {
    background-color: #152E53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}

nav h1 {
    font-size: 24px;
    padding: 19px;
    font-weight: 700;
}

nav h3 {
    font-size: 16px;
    font-weight: 600;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

nav div a {
    padding: 24px;
    text-decoration: none;
    color: white;
}

.home-tab:active, .data-tab:active, .about-tab:active {
    border-bottom: 2px solid white;
}

.intro {
    width: 25%;
    background: #FFFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 42px;
    padding: 16px;
    padding-right: 0;
    transition: all .75s ease;
    display: flex;
    flex-direction: row;
}

.description {
    margin-bottom: 10px;
}

.intro .intro-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.intro div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.intro div p {
    margin-bottom: 0;
}

.intro div p:first-of-type {
    margin-bottom: 10px;
}

.intro h2 {
    font-weight: 600;
}

.close {
    font-weight: 600;
    cursor: pointer;
}

.hidden {
    margin-left: -470px;
}

.hidden-filters {
    margin-right: -470px;
}

#open {
    width: 77.1px;
}

#pop-ups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#filters {
    padding: 0;
}

#open-filters {
    width: 16.58px;
}

#filters .filter-options {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    padding-left: 0;
}

/* Data and About Pages */
.section-title {
    background-color: #8898B0;
    width: 100%;
    font-size: 48px;
    font-weight: 800;
    color: white;
    padding: 30px 24px;
}

.content {
    background-color: #EAF2FF;
    height: 80vh;
    overflow: hidden;
}

/* About Page */
.preface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    text-align: center;
    margin-bottom: 56px;
}

.preface h3 {
    margin-top: 56px;
    font-size: 36px;
}

.preface p {
    font-size: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 45px;
    gap: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 270px;
    height: 429px;
}

.card p {
    text-align: center;;
}

/* Data Page */
.data-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.data-text {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-left: 24px;
    font-size: 20px;
}

.data-content img {
    margin: 24px;
}